a{text-decoration: none;}
/*これでaタグに装飾を付けない（リンクのアンダーラインとか）*/

*{ margin: 0px;}

img{max-width:100%;} /*これで画像の大きさを親要素より大きくなることを防ぐ*/

li{
    list-style: none;
    text-decoration: none;
}
body{font-family: 'MonteCarlo', cursive;
    font-family: 'Noto Serif JP', serif;
    font-family:  '游明朝','Yu Mincho','Hiragino Mincho Pro',serif;}

/*以上共通要素*/



/*TOP naviまわり*/
.header_navi{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-image: url(img/tolso.jpg);
    background-size: cover;
    

    /*height: 50px;
    width:100vw;*/
    background:#fff;
    text-align: center;
}

.navi_menu{
    display:flex;
    justify-content: center;
    color:#414141;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
}

/*リンク訪問済みの色を変えない*/
.a_navi_menu{color:#414141;}
.a_navi_menu:visited{color:#414141;}

.navi_menu li{
    padding:10px;
    font-size: 16px;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
}

.navi_menu a{
    text-decoration: none;
}

/*問い合わせ*/
.button_toiawase{
    background-color: #B5943E;
    border-radius: 10px;
    padding:8px;
    color:#fff;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
}
/*サブページ_navi*/
.header_navi_subpage{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 229px;
    width:100vw;
    background-image: url(img/tolso_sub.jpg);
    background-size: cover;
    text-align: center;
    padding:20px 20px 20px 40px;
    color:#fff;
}
いる？？
.logo_subpage{
    width:274px;
}
.navi_menu_sub{
    color:#fff;
    display:flex;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
}
.navi_menu_sub li{
    color:#fff;
    padding:10px;
    font-size: 16px;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
}
/*リンク訪問済みの色を変えない*/
.a_navi_menu_sub{color:#fff;}
.a_navi_menu_sub:visited{color:#fff;}


/*TOPページバーガー*++++++++++++++++++++++++++++*/
/*TOPburger*/
.burger {
    width: 100vw;
    height: 50px;
    background-image:url(img/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display:none;
    padding:20px;
}
 
.burger.is-active {
    background-image:url(img/close.svg);
}

@media (max-width: 860px) {
    .burger{display:block;}
    .menu{display:block;}
    .header_navi{ display:none;}
    .button_toiawase{line-height: 60px;}
}
  
/*TOP-menu*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color:rgba(55, 55, 49, 0.8);
    position: fixed;
    display: none;
    text-align: center;
    margin: 0 0 60px 0;
    color:#fff
}
  
.menu.is-active {
    display: flex;
}

.navi_menu_burger{
    z-index: 2;
    padding:20px;
    color:#fff;
    gap:15px;
}
.navi_menu_burger a{
  text-align: center;
    color:#fff;
    margin:20px;
}
.a_navi_menu{
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
    line-height: 40px;
    margin:20px;
}
/*TOPバーガー+++++++++++++++++++++++++++++*++++*/

/*サブページバーガー*++++++++++++++++++++++++++++*/
/*burger_sub*/
.burger_subpage {
    width: 100vw;
    height: 80px;
    background-image:url(img/burger.svg),url(img/jochicajel_logo_sub.svg);
    background-repeat: no-repeat;
    background-position: right,left;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display:none;
}
 
.burger_subpage.is-active {
    background-image:url(img/close.svg),url(img/jochicajel_logo_sub.svg);
}

@media (max-width: 860px) {
    .burger_subpage{display:block;}
    .menu_subpage{display:block;}
    .header_navi_subpage{ display:none;}
    .button_toiawase{line-height: 60px;}
    .a_navi_menu:visited{color:#fff;}

}
  
/*menu sub*/
.menu_subpage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-image: url(img/tolso_sub.jpg);
    background-size: cover;
    background-color:rgba(55, 55, 49, 0.8);
    position: fixed;
    display: none;
    text-align: center;
    margin: 0 0 60px 0;
}
  
.menu_subpage.is-active {
    display: flex;
}

 .navi_menu_burger{
    z-index: 2;
    padding:20px;
    color:#fff;
    gap:15px;
}

.navi_menu_burger a{
  text-align: center;
    color:#fff;
    margin:20px;
}

.a_navi_menu02{
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
    line-height: 40px;
    margin:20px;
}


/*サブページバーガー終わり+++++++++++++++++++++++++++++++++*/


/*TOP メイン要素*********************************************/
.header_top{
    background-image: url(img/tolso.jpg);
    background-size:cover;
    /*containは縦横比を保持して画像が全て表示される指定*/
    background-repeat: no-repeat;
    background-position: center;
    height:auto;
    width:100vw;
    margin-top: 0;
    padding:30px;
}

.mainlogo{
    width: 450px;
}

.header_copy{
    display:grid;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    color:#FFF;
    margin:0px auto 0 auto;
    padding-top: 59px;
    line-height: 250%;
}

.main_copy{
    font-family: YuMincho,serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 5px;
    margin-top: 31px;
    margin-bottom: 20px;
}
/*スマホ用改行*/
.br_sp {display: none;}

.main_subcopy{
    font-family: YuMincho,serif;
    font-size: 18px;
    font-style: none;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 3px;
    margin-bottom: 31px;
}

.button_toiawase2{
    background-color: #fff;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
    font-size: 16px;
    border-radius: 10px;
    width:260px;
    color: #B5943E;
    text-decoration-line: none;
    margin:0 auto 50px auto;
}

@media (max-width: 480px) {
    /*header部分*/
    .header_copy{
        padding:0 20px 0 20px;
    }
	.mainlogo{
        width: 300px;
    }
    
    .main_copy{
        font-size:18px;
        line-height: 30px;
        letter-spacing: 1.5px;
    }
    /*スマホ用改行*/
    .br_sp {display: block;} 
    .main_subcopy{
        font-size:14px;
        line-height: 25px;
        letter-spacing: 0px;
    }
    .br_browser{
        display:none;
    }
}



/*TOP 背景指定*/
body{
    background:rgba(116,117,85,1);
    background-image: url(img/jochicajel_back.png);
}


/*TOP movieパート*/
.movie_part{
    display:grid;
    grid-template-columns: 20px 20px 321px 20px 20px ;
    gap: 50px;
    justify-content:center;
    color:DCCFAD;
    margin:72px;
}

.movie_copy01,.movie_copy02{
    -ms-writing-mode: tb-rl;/*縦書き*/
    writing-mode: vertical-rl;/*縦書き*/
    font-size: 20px;
    letter-spacing:15px;
}
.movie_copy01{
    align-self: end;
}
.movie_copy02{
    align-self: start;
}

.movie{
    width: 321px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
@media (max-width: 480px){
    .movie_part{
        display:grid;
        grid-template-columns: 1fr 1fr 190px 1fr 1fr;
        gap: 15px;
    }
    .movie_copy01,.movie_copy02{
        font-size: 17px;
        letter-spacing:7px;
    }
}

/*TOP 各ページリンク*/
.btnrow01{
    display:grid;
    grid-template-columns: 271px 271px 271px;
    grid-template-rows: auto;
    gap:96px;
    align-content:start;
    justify-content: center;
    margin-bottom: 50px;
    color: #FFF;
    text-align: center;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 3px;
  }
  .btn_2row{
    position:relative;
    right:-70%;
    text-align : justify; 
  }
  
  @media (max-width: 480px){
    .btnrow01{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap:20px;
      margin:20px;
    }
      .btn_2row{
        position:none;
        left:0%;
      }
  }

.cur_link_btn { margin: 10px 0;}
.cur_link_btn:hover { filter: brightness(0.5);}


/*footer(全ページ共通)------------------------------------*/    
footer{
    width:100vw;
    background:rgba(116,117,85,1);
}
/*黒バックのページ*/
.footer_subpage{
    width:100vw;
    background-color: rgb(37,36,33);
}

/*ゴールドバックのページ*/
.footer_subpage_gold{
    width:100vw;
    background-color: rgb(193,171,112);
}

.footer_navi{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 150px 150px 50px 150px;
}

.footertext_big,.footertext_small{
    margin-bottom :30px;
}

.footertext_big a{
    text-decoration: none;
    color: #FFF;
    font-family: 游ゴシック,YuGothic,gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3px;
}

.footertext_small a{
    text-decoration: none;
    color: #FFF;
    font-family: 游ゴシック,YuGothic,gothic;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3px;
}
.footertext_toiawase{
    background-color: #fff;
    border-radius: 5px;
    font-family:游ゴシック,YuGothic,sans-serif,gothic;
    margin-bottom: 50px;
}
.button_toiawase03{ 
    width:300px;
    color:rgba(116,117,85,1);
    padding:10px 16px 10px 16px;
}
.map{
    width:600px;
    height:270px;
}
.footer_rights{
    color:#fff;
    font-size: 10px;
    text-align: center;
    padding: 80px 0 80px 0 ;
}
@media (max-width: 480px) {
    .footer_navi{
        justify-content: center;
        text-align: center;
        padding: 50px;
    }
    .map{
        width:90vw;
        position: center;
    }
    .footer_rights{
        padding-bottom:50px;
    }
}

/*footer------------------------------------*/ 



/*curページ************************************/
/*SUB cur タイトル部分*/
.sub_body{
    background:#35322C;
    color:#fff;
}
.subpage_title{
    justify-content: center;
}
.subpage_title_eng{
    display:block;
    margin: 150px auto 45px auto;
}
.subpage_title_catch{
    color: #B5943E;
    text-align: center;
    font-family: YuMincho;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 30px;
}
.subpage_title_copy{
    color: #B5943E;
    text-align: center;
    font-family: YuMincho;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 55px;   
}

@media (max-width: 480px){
    .subpage_title_eng{
        width:250px;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .subpage_title_catch{
        font-size: 22px;
        letter-spacing: 6px;
        margin-bottom: 15px;
    }
    .subpage_title_copy{
        font-size: 28px; 
        line-height: 40px;
    }
}

/*SUB cur meinコンテンツ*/

.subpage_main{
    display:flex;
    flex-wrap: wrap;
    max-width:1000px;
    margin:auto;
    padding-top: 100px;
    margin-bottom: 50px;
    color: #FFF;
}

h2{
    font-family: YuMincho;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 140% */
    letter-spacing: 5px; 
}

p{
    color: #FFF;
    text-align: justify;
    font-family: YuMincho;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.5px; 
}

.subpage_raw01{
    justify-content: center;
}

.subpage_main_catch{
    margin-bottom: 30px;
    text-align: center;
}

.subpage_main_copy{
    margin-bottom: 100px;
}

.cur_12photos{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin-bottom: 90px;
}

.cur_row{width:100%}

.h2_margin{
    margin-top: 80px;
    margin-bottom:30px;
}
.hr_margin{
    margin-bottom:30px;
    width:100%;
}

.title_with_line{
    font-size: 20px;
    border-left: inset 5px #e9d49b;
    text-indent:0.5em;
    align-content: center;
    line-height: 20px;
}


.cur_row_contents{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:74px;
}

.cur_corse{
    margin-top:20px;
}

.cur_hyou{
    list-style-type:decimal;
    text-indent:0.25em;
    margin-left:3em;
}

.cur_hyo_font{
    font-size: 20px;
    color:#B5943E;
    letter-spacing: 3px; 
}
.cur_hyo_font02{
    font-size: 19px;
    letter-spacing: 5px; 
}

        
/*テーブル*/
table,td {
  border: 1px solid #fff;
  text-align: center;
  padding:10px;
  border-collapse: collapse;
  width:100%;
  table-layout:fixed;
}
.cur_thead{
    background-color: rgb(37,36,33);
}

.cur_hyou{
    list-style-type:decimal;

}
.cur_hyou{
    text-indent:0.25em;
    margin-left:3em;
}

.cur_hyou_container{
    margin-bottom:40px;
}

.cur_hyo_grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:74px;

}

@media (max-width: 480px) {
    .subpage_main{
        margin:60px 30px 150px 30px;
        padding-top: 0px;
        margin-bottom: 50px;
    }
    .cur_12photos{
        grid-template-columns: repeat(2,1fr);
        gap:10px;
        margin-bottom: 90px;
    }
    .cur_row_contents{
        grid-template-columns: 1fr;
        gap:25px;
    }
    h2{
        font-size: 22px;
        line-height: 25px; /* 140% */
        letter-spacing: 5px; 
    }
    p{
        line-height: 32px;
        letter-spacing: 0.5px; 
    }
    .h2_margin{
        margin-top: 80px;
        margin-bottom:20px;
    }
    .hr_margin{
        margin-bottom:20px;
        width:100%;
    }
}

.cur_ph_container{
    display:flex;
    width:100%;
    padding:0px;
    margin-bottom: 50px;
    margin-top:150px;
    flex:auto;/*これが幅にくっつく設定*/
    list-style: none;
    padding:0px;
}

@media (max-width: 480px) {
    .cur_ph_container{
        display:grid;
        grid-template-columns:1fr 1fr 1fr ;
        width:100%;
        padding:0px;
        margin-bottom: 23px;
        margin-top:50px;
    }
}
