a{text-decoration: none;}
*{ margin: 0px;
 	maipulation:auto;}
img{max-width:100%;} /*これで画像の大きさを親要素より大きくなることを防ぐ*/
li{
    list-style: none;
    text-decoration: none;
}
body{
    /*font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;*/
    font-family:"游明朝","Yumincho","Yu Mincho","Noto Serif JP","Hiragino Mincho Pro",serif;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*以上共通要素*****************/


/*TOP naviまわり**************/
.header_navi{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#fff;
}
.navi_menu{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}
/*リンク訪問済みの色を変えない*/
.a_navi_menu{color:#414141;}
.a_navi_menu:visited{color:#414141;}
.navi_menu li{
    padding:10px;
    font-size: 16px;
    align-items: center;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}

/*問い合わせ*/
.button_toiawase{
    background-color: #B5943E;
    border-radius: 10px;
    padding:8px;
    color:#fff;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}
/*サブページ_navi*************/
.header_navi_subpage{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 229px;
    width:100vw;
    background-image: url(img/tolso_sub.jpg);
    background-size: cover;
    color:#fff;
}
.mainlogo_subpage{
    width:350px;
    margin-bottom: -25px;
    margin-right: 50px;;
}
.navi_menu_sub{
    color:#fff;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}

/*リンク訪問済みの色を変えない*/
.a_navi_menu_sub{color:#fff;}
.a_navi_menu_sub:visited{color:#fff;}

.navi_menu_sub li{
    color:#fff;
    align-items: center;
    padding:10px;
    font-size: 16px;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}

/*TOPページ-ハンバーガー*++++++++++++++++++++++++++++*/
/*TOP-burger*/
.burger {
    width: 100vw;
    height: 50px;
    background-image:url(img/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    cursor: pointer;
    position: fixed;/*1118*/
    z-index: 1500;
    display:none;
    padding:20px;
}
.burger.is-active {
    background-image:url(img/close.svg);
}

@media (max-width: 900px) {
    .burger{display:block;}
    .menu{display:block;}
    .header_navi{ display:none;}
    .button_toiawase{line-height: 60px;}
}
  
/*TOP-menu-ハンバーガー*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color:rgba(55, 55, 49, 0.8);
    position: fixed;
    display: none;
    text-align: center;
    margin: 0 0 60px 0;
    color:#fff;
}

.menu.is-active {
    display: flex;
}

.navi_menu_burger{
    padding:20px;
    color:#fff;
    gap:15px;
}
.navi_menu_burger a{
  text-align: center;
    color:#fff;
    margin:20px;
}
.a_navi_menu{
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    line-height: 40px;
}
/*TOPバーガー終わり+++++++++++++++++++++++++++++*++++*/

/*サブページバーガー*++++++++++++++++++++++++++++*/
/*burger_sub-ハンバーガー*/
.burger_subpage {
    width: 100vw;
    height: 80px;
    background-image:url(img/burger01.svg),url(img/jochicajel_logo_sub.svg);
    background-repeat: no-repeat;
    background-position: right,left;
    background-color: #fff;
    position: fixed;
    top:0;
    z-index: 1500;
    display:none;
}
 
.burger_subpage.is-active {
    background-image:url(img/close02.svg),url(img/jochicajel_logo_sub.svg);
}

@media (max-width: 860px) {
    .burger_subpage{display:block;}
    .menu_subpage{
        display:block;
        top:80px;}
    .header_navi_subpage{ display:none;}
    .button_toiawase{line-height: 60px;}
    .a_navi_menu:visited{color:#fff;}
    .sub_body{margin-top: 95px;}
}
  
/*menu sub-ハンバーガー*/
.menu_subpage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-image: url(img/tolso_sub.jpg);
    background-size: cover;
    background-color:rgba(55, 55, 49, 0.8);
    position: fixed;
    display: none;
    text-align: center;
    margin: 0 0 60px 0;
}
  
.menu_subpage.is-active {
    display: flex;
}

 .navi_menu_burger{
    padding:20px;
    color:#fff;
    gap:15px;
}

.navi_menu_burger a{
    text-align: center;
    color:#fff;
    margin:20px;
}

.a_navi_menu02{
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    line-height: 40px;
    margin:20px;
}


/*サブページバーガー終わり++++++++++++++++++++++++++++++++++++*/


/*TOP メイン要素*********************************************/
.header_top{
    background-image: url(img/tolso.jpg);
    background-size:cover;
    background-position: center;
    height:auto;
    width:100vw;
    margin-top: 0;
    padding:30px;
}

.mainlogo{
    width: 450px;
}

.header_copy{
    display:grid;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    color:#FFF;
    margin:0px auto 0 auto;
    padding-top: 59px;
    line-height: 250%;
}

.main_copy{
    /*font-family: YuMincho,'Noto Serif JP',serif;***1121*/
    font-size: 24px;
    color:#fff;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 5px;
    margin-top: 31px;
    margin-bottom: 20px;
}
/*スマホ用改行*/
.br_sp {display: none;}

.main_subcopy{
    /*font-family: YuMincho,'Noto Serif JP',serif;****1121*/
    font-size: 18px;
    font-style: none;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 3px;
    margin-bottom: 31px;
    text-align:center;
}

.button_toiawase2{
    background-color: #fff;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    font-size: 16px;
    border-radius: 10px;
    width:260px;
    color: #B5943E;
    text-decoration-line: none;
    margin:0 auto 50px auto;
}

@media (max-width: 480px) {
    /*header部分*/
    .header_top{
        padding:5px;
    }
    .header_copy{
        padding:0 5px 0 5px;
    }
	.mainlogo{
        width: 220px;
        margin-top:70px;
    }
    .main_copy{
        font-weight:800;
        font-size:13px;
        line-height: 19px;
        letter-spacing: 0.5;
        margin:15 0 12 0px;
    }
    .main_subcopy{
        font-size:11px;
        line-height: 18px;
        letter-spacing: 0.7px;
        margin-bottom:10px;
        text-align:center;
    }
    /*スマホで句読点を隠す*/
    .sp_hide{
        display:none;
    }
    /*スマホ用改行*/
    .br_sp {display: block;} 
    .br_browser{
        display:none;
    }
    .button_toiawase2{
        display:flex;
        font-size: 11px;
        border-radius: 6px;
        width:150px;
        height:25px;
        align-items: center;
        text-align:center;
        justify-content: center;
        color: #B5943E;
        text-decoration-line: none;
        margin:10 auto 24px auto;
        padding:0px;
    }
}



/*TOP 背景指定*/
body{
    background:rgba(116,117,85,1);
    background-image: url(img/jochicajel_back.png);
}


/*TOP movieパート*/
.movie_part{
    display:grid;
    grid-template-columns: 20px 20px 321px 20px 20px ;
    gap: 50px;
    justify-content:center;
    color:DCCFAD;
    margin:72px;
}

.movie_copy01,.movie_copy02{
    -ms-writing-mode: tb-rl;/*縦書き*/
    writing-mode: vertical-rl;/*縦書き*/
    font-size: 20px;
    letter-spacing:15px;
}
.movie_copy01{
    align-self: end;
}
.movie_copy02{
    align-self: start;
}

.movie{
    width: 321px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
@media (max-width: 480px){
    .movie_part{
        display:grid;
        grid-template-columns: 1fr 1fr 140px 1fr 1fr;
        gap: 15px;
    }
    .movie_copy01,.movie_copy02{
        font-size: 12.5px;
        letter-spacing:5px;
    }
    .mov_adjust01{margin:0 14 0 0}
    .mov_adjust02{margin:23 0 0 14}
}

/*TOP 各ページリンク*/
.btnrow01{
    display:grid;
    grid-template-columns: 271px 271px 271px;
    grid-template-rows: auto;
    gap:96px;
    align-content:start;
    justify-content: center;
    margin-bottom: 50px;
    color: #FFF;
    text-align: center;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 3;
  }
  .btn_2row{
    position:relative;
    right:-70%;
    text-align : justify;
  }
  
  @media (max-width: 480px){
    .btnrow01{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap:20px;
      margin:20px;
      font-family:"游明朝","Yumincho","Yu Mincho","Noto Serif JP","Hiragino Mincho Pro",serif;
      font-size: 13px;
      line-height: 1.3em;
      letter-spacing: 1;
    }
    .btn_2row{
      position:none;
      left:0%;
      z-index: -1;
    }
  }

.cur_link_btn { margin: 10px 0;}
.cur_link_btn:hover { filter: brightness(0.5);}

/*スクロールアップボタン(全ページ共通)------------------------------------*/    
.up_btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    background-color: rgba(72, 72, 64, 0.5);
    display: none;
    text-align: center;
    border-radius: 24px;
  }
  
.up_btn::before {
    content: url(img/top_btn.svg);
  }
  @media (max-width: 480px){
    .up_btn{
        display:block;
    }
  }

/*footer(全ページ共通)------------------------------------*/    
footer{
    width:100vw;
    background:rgba(116,117,85,1);
}
/*黒バックのページ*/
.footer_subpage{
    width:100vw;
    background-color: rgb(37,36,33);
}
/*ゴールドバックのページ*/
.footer_subpage_gold{
    width:100vw;
    background-color: rgb(193,171,112);
}

.footer_navi{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 150px 150px 50px 150px;
}

.footertext_big,.footertext_small{
    margin-bottom :30px;
}

.footertext_big a{
    text-decoration: none;
    color: #FFF;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3px;
}

.footertext_small a{
    text-decoration: none;
    color: #FFF;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3px;
}
.footertext_toiawase{
    background-color: #fff;
    border-radius: 5px;
    /*font-family:游ゴシック,YuGothic,sans-serif,gothic;**1121*/
    margin-bottom: 50px;
}
.button_toiawase03{ 
    width:300px;
    color:#5b564c;
    padding:10px 16px 10px 16px;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}
.footer_logo_container{
    display:flex;
    margin:0 0 20 0;
    align-items: center;
}
.footer_logo{
    width:265px;
    margin:0 40 0 0;
}
.footer_address{
    color: #FFF;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    font-size: 15px;
    line-height: 1.5em;;
}
.map{
    width:600px;
    height:270px;
}
.footer_rights{
    color:#fff;
    font-size: 10px;
    text-align: center;
    padding: 80px 0 80px 0 ;
}
@media (max-width: 900px) {
    .footer_navi{
        justify-content: center;
        text-align: center;
        padding: 50px;
    }
    .footer_logo_container{
        display:grid;
        justify-content: center;
    }
    .footer_logo{
        margin: 0;
    }
    .footer_address{
        text-align: center;
        margin:20 0 0 0;
    }
    .map{
        width:90vw;
        position: center;
    }
    .footer_rights{
        padding:20 0 40 0;
    }
}

/*footer------------------------------------*/ 



/*curページ************************************/
/*SUB cur タイトル部分*/
.sub_body{
    background:#35322C;
    color:#fff;
}
.subpage_title{
    justify-content: center;
}
.subpage_title_eng{
    display:block;
    margin: 80px auto 20px auto;
}
.subpage_title_catch{
    color: #B5943E;
    text-align: center;
    /*font-family: YuMincho,'Noto Serif JP';**1121*/
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 10px;
}
h1{
    color: #B5943E;
    text-align: center;
    /*font-family: YuMincho,'Noto Serif JP';**1121*/
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 55px;   
}

@media (max-width: 480px){
    .subpage_title_eng{
        height:45px;
        margin-top: 0px;
        margin-bottom: 7px;
    }
    .subpage_title_catch{
        font-size: 14px;
        letter-spacing: 6px;
        margin-bottom: 7px;
    }
    h1{
        font-size: 15px; 
        line-height: 19px;
        letter-spacing: 2px;
    }   
}
/*修正前
       .subpage_title_eng{
        height:57px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .subpage_title_catch{
        font-size: 22px;
        letter-spacing: 6px;
        margin-bottom: 15px;
    }
    h1{
        font-size: 28px; 
        line-height: 40px;
    }*/

/*cur もくじ*/

.cur_menu_section{
    display:none;
    /*justify-content: space-around;*/
    width: 100%;
    z-index: 1;
    /*margin:0 15 0 15;*/
}
.menu_btn{
    display:block;
    color:#fff;
    background-color: #726b5f;
    padding:2px;
    font-size: 13px;
    text-align:center;
    justify-content: center;
}
.menu_btn:visited{color:#fff;} /*リンク訪問済みの色を変えない*/
/*.cur_raw01{
    z-index:-2;
}*/

@media (max-width: 480px){
    .cur_menu_section{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        width:100%;
        margin:30 0 20 0;
        gap:10px;
    }
}

/*.mokuji{
    text-align:center;
    letter-spacing: 5;
}
.menu_section_a{
    color:#fff;
    font-size: 14px;
    line-height: 1.5;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    margin: 50px 0 50px 0em;
}

.menu_section li{
    display:list-item;
    list-style-type: disc;
    margin:5px 20px 0 20px;
}

.menu_section_b a{
    color:#fff;
    margin: 15px 0 15px 2em;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    font-size: 13px;
    text-indent: 3em;
}
.menu_section_b:visited{color:#fff;} /*リンク訪問済みの色を変えない*/



/*ジャンプしたときの固定ヘッダー分の高さを調整*/
#about:before,#rittai:before,#housei:before,#price:before,#curriculum:before,#history01:before,#history02:before,#history03:before,#history04:before,#history05:before{
    content: "";
    display: block;
    height: 100px; /* 調整したい高さ（固定ヘッダーの高さ） */
    margin-top: -100px; /* heightと同じ分のネガティブマージン */
    visibility: hidden;
}

    

/*SUB cur meinコンテンツ*/

.subpage_main{
    display:flex;
    flex-wrap: wrap;
    max-width:1080px;/*1118*/
    margin:auto;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #FFF;
    padding:0 40 0 40;/*1118*/
}

h2{
    /*font-family: YuMincho,'Noto Serif JP',serif;**1121*/
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 7; 
}

p{
    color: #FFF;
    text-align: justify;
    /*font-family: YuMincho,'Noto Serif JP',serif;**1121*/
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.5; 
}

.subpage_raw01{
    justify-content: center;
}

.subpage_main_catch{
    margin: 80 0 30px 0;
    text-align: center;
}

.subpage_main_copy{
    margin-bottom: 100px;
}

.cur_12photos{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin-bottom: 90px;
}

.cur_row{width:100%}

.h2_margin{
    margin-top: 80px;
    margin-bottom:30px;
}
.hr_margin{
    margin-bottom:30px;
    width:100%;
}

.title_with_line{
    font-size: 20px;
    border-left: inset 5px #e9d49b;
    text-indent:0.5em;
    align-content: center;
    line-height: 20px;
}

.cur_row_contents{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:74px;
}
.cur_row_contents_cur{
    display:grid;
    grid-template-columns: 1.25fr 0.75fr;
    gap:50px;
}

.cur_corse{
    margin-top:20px;
}

/*.cur_hyou{
    list-style-type:decimal;
    text-indent:0.25em;
    margin-left:3em;
}／ダブり？1122*/

.cur_hyo_font{
    font-size: 20px;
    color:#B5943E;
    letter-spacing: 3px; 
}
.cur_hyo_font02{
    font-size: 19px;
    letter-spacing: 5px; 
}

        
/*カリキュラム料金表*/
table,td {
  border: 1px solid #fff;
  text-align: center;
  padding:10px;
  border-collapse: collapse;
  width:100%;
  table-layout:fixed;
}
.cur_thead{
    background-color: rgb(37,36,33);
}
/*カリキュラム*/
.cur_hyou{
    list-style-type:decimal;
    list-style-position:inside;/*1122*/
    text-indent:-1.5em;
    margin-left:2em;
}
.cur_hyou_indent{
padding-left:7.5px;}
.unseen0{color:#35322C;}
.cur_hyou_container{
    margin-bottom:40px;
}
.cur_hyo_grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:74px;
}
.jikan_ph{display:none}
.cur_ph_container{
    display:flex;
    width:100%;
    padding:0px;
    margin-bottom: 50px;
    margin-top:150px;
    flex:auto;/*幅にくっつく設定*/
    list-style: none;
    padding:0px;
}


@media (max-width: 480px) {
    .subpage_main{
        margin:0px 15px 150px 15px;
        padding: 0px;/**1118　padding-top0のみだった*/
        margin-bottom: 50px;
        display:inline-block;
        z-index:-1;
    }
    .cur_12photos{
        /*grid-template-columns: repeat(2,1fr);*/
        gap:10px;
        margin-bottom: 30px;
    }
    .cur_row_contents{
        grid-template-columns: 1fr;
        gap:25px;
    }
    h2{
        font-size: 22px;
        line-height:  140%;
        letter-spacing: 7; 
    }
    p{
        font-size: 13px;
        line-height: 1.6em;
        letter-spacing: 0; 
    }
    .h2_margin{
        margin-top: 45px;
        margin-bottom:20px;
    }
    .hr_margin{
        margin-bottom:20px;
        width:100%;
    }
    .subpage_main_catch_about{
        font-size: 19px;
        letter-spacing: 1;
        margin:10 0 15 0;
    }
    .subpage_main_copy{
        margin-bottom:30;
    }
    .housei_ph{display:none;}
    .jikan_ph{
        display:block;
    }
    .cur_hyou{
        font-size: 12px;
        line-height: 1.25em;
        letter-spacing: 0;
    }
    .cur_hyo_font{
        font-size: 13px;
        color:#B5943E;
        letter-spacing: 1px; 
    }
    .cur_hyo_font02{
        font-size: 16px;
        letter-spacing: 1px; 
    }
    .cur_hyo_font_margin{
        margin-top: 10px;
    }
    .cur_row_contents_cur{
        display:grid;
        grid-template-columns: 1fr 40%;
        gap:4px;
        margin:0 0 0 0;
    }
    .ryokin_photo{
        padding-right:0;
    }
    /*/.cur_hyo_grid_ph_container{
        display:flex;
    }*/
    .cur_row_contents_ph{
        display:grid;
        grid-template-columns: 1fr 45%;
        gap:18px;
    }
    .cur_ph_container{
        margin:-50 0 30 0;
    }
}


/*@media (max-width: 480px) {
    .cur_ph_container{
        display:grid;
        grid-template-columns:1fr 1fr 1fr ;
        width:100%;
        padding:0px;
        margin-bottom: 23px;
        margin-top:50px;
    }
}1122*/


/*curページ終わり************************************/


/*historyページ************************************/
.history_body{
    background:#f3f3f1;/*linear-gradient(180deg,#f3f3f1, #fff 2%, #fff);*/
    color:#35322C;
}
.history_contents{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    padding:0 40 0 40;
    margin:0 auto 0 auto;
}

/*history もくじ******/

.his_menu_section{
    display:none;
    color:#5e5e5e;
    margin:40px auto 0px auto;
    padding:30px 5 30 5;
    border-top: 1px dotted #5e5e5e;
    border-bottom: 1px dotted #5e5e5e;
}
.his_menu_section:visited{color:#5e5e5e;} /*リンク訪問済みの色を変えない*/
.his_mokuji{
    text-align:center;
    letter-spacing: 5;
    color:#5e5e5e;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}
.his_menu_section_div{
    justify-content: center;
    text-align: center;
}
.his_menu_section_a{
    display:flex;
    color:#5e5e5e;
    font-size: 14px;
    line-height: 1.5;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    text-align:center;
    justify-content: center;
    margin: 5px auto 5px auto;
}

/*.his_menu_section li{
    display:list-item;
    list-style-type: disc;
    margin:5px 20px 0 20px;
}*/

@media (max-width: 480px){
    .his_menu_section{
        display:block;
    }
}
/*もくじおわり++++++++*/
.his_main_catch{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto 0 auto;
    color:#B5943E;
    letter-spacing: 5px;
    font-size: 23px;
    margin-top: 80px;
}

.history_article_title{
    font-size: 20px;
    color:#B5943E;
    margin:3em 0 1em 0;
    letter-spacing: 3;;
}
.history_article_text{
    color:#35322C;
}
.history_photo_container{
    display:flex;
    max-width: 600px;
    margin:50 auto 50 auto;
    gap: 25px;
}
.his_ph{
    display:block;
    width:230px;
}
.his_article_ph{
    width:345px;
}
.his_article_ph_s{
    width:230px;
    margin-bottom: 25px;
}
.his_article_ph_s2{
    width:230px;
}
/*生徒さんのリンク*/
.history_link{
    color:#B5943E;
    border-bottom:dashed 1px #B5943E;
}
.history_link:visited{color:#B5943E;} /*リンク訪問済みの色を変えない*/
.history_figcaption{
    color:#35322C;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    font-size: 14px;
}
/*.his_cap01{display:none}1122つけてはずす*/

@media (max-width: 480px){
    .history_body{
        margin-top:100px;
    }
    .history_contents{
        padding:0;
    }
    .his_main_catch{
        font-size: 20px;
        margin-top:60;
    }
    .history_article_title{
        font-size: 18px;
        margin:3em 0 0.5em 0;
        letter-spacing: 3;
    }
    
    .history_photo_container{
        display:grid;
        justify-items: center;
        margin:50 auto 0 auto;
    }
    .his_article_ph_s2{
        width:200px;
    }
    /*.his_cap01{display:block}
    .his_cap02{display:none}
    .his_ph_hide{display:none}*/
 }
/*historyページ終わり************************************/

/*profileページ*****************************************/

.profile_ph_container{
    display:grid;
    justify-content: center;
    margin:40 auto 0 auto;

}
.profile_ph{
    width:172px;
}
.pro_name01{
    font-size: 14px;
    letter-spacing: 5;
    text-align: center;
    padding:10 0 0 0;
}
.pro_name{
    font-size: 20px;
    letter-spacing: 3;
    text-align: center;
}
.pro_btn_to_order{
    background-color: #B5943E;
    border-radius: 10px;
    padding:8px;
    color:#fff;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
    text-align: center;
    margin: 40 0 100 0;
}
.pro_btn_to_order a:visited{color:#fff;}

@media (max-width: 480px){
    .profile_ph{
    width:120px;
    }
    .pro_btn_to_order{
        margin: 40 0 30 0;
    }
}

/*profile　経歴************************************/
.pro_history_box{
    border:none;
}
.pro_history {
    border-right: 1px solid #fff;
    border-left:none;
    border-top: none;
    border-bottom:none;
    text-align: left;
    vertical-align: top;
    padding:10 50 10 0px;
    border-collapse: collapse;
    width:25%;
    table-layout:fixed;
  }
.pro_history_r{
    border:none;
    text-align: justify;
    padding:10 10 10 30px;
}
/**/
.pro_sp_hide{display:block;}
.pro_sp_show{display:none;}
/**/

@media (max-width: 480px){
    /*.pro_history_box{
        width:30%;
    }*/
    .pro_history_r,.pro_history{
    font-size: 13px;
    }
    .pro_history {
        padding:7 10 7 0px;
        width:18%;
    }
    .pro_history_r{
        padding:7 7 7 18px;
    }
    /**/
    .pro_sp_hide{display:none;}
    .pro_sp_show{
        display:block;
    }
    /*.pro_sp_show_ph{
        width:25%;
    }*/
    .pro_row_contents{
        grid-template-columns: 0.5fr 0.5fr;
        gap:7px;
    }
}
/*profileページ終わり************************************/


/*orderページ******************************************/
.order_body{
    background:#F1EEDB;
    color:#35322C;
}

.order_main{
    display:flex;
    text-align: center;
    justify-content: center;
}
.order_container{
    display:inline-block;
    /*flex-wrap: wrap;*/
    max-width:1080px;
    margin:0px 20 50px 20;
    color: #FFF;
    padding:0;
    text-align: center;
    justify-content: center;
}

.order_main_catch{
    color:#B5943E;
    letter-spacing: 3px; 
}
.order_catch_container{
    display:block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 60 auto 0 auto;
}
.wedding_link{ border-bottom:dashed 1px #B5943E;}
.order_main_catch:visited{color:#B5943E;}
.wedding_link:visited{color:#B5943E;}
.order_grids{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:80px;
    max-width: 900px;/*1118 900px*/
    margin: 60px auto 60px auto;
    padding:0;/*1118*/
}
.order_article01{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.order_article_photo{
    width:190px;
    margin:0 19px 8 0;
}
.order_article_right{
    /*align-items:center;*/
    /*display:grid;*/
    width:45%;
}
.order_article_title{
    color:#B5943E;
    font-size: 23px;
    border-bottom: 1px solid #B5943E;
    padding:0 0 8 0;
    width:100%;
}
.order_article_title:visited{
    color:#B5943E;
}
.order_article_text{
    color:#414141;
    padding:18px 0 13px 0;
}
.order_article_link{
    color:#B5943E;
    font-size: 13px;
    font-family:"游ゴシック体","Yugothic","Yu Gothic Medium", "游ゴシック Medium","Zen Kaku Gothic Antique","Noto Sans JP",sans-serif;
}
.order_article_link:visited{color:#B5943E;} /*リンク訪問済みの色を変えない*/
.order_text{
    color:#414141;
    width:100%;
}
.kanariya{
    display:flex;
   /* grid-template-columns: 1fr 1fr;
    gap:50px;*/
    background: #fff;
    color:#414141;
    padding:20px;
    /*justify-content: space-between;*/
    align-items: center;
    margin: 50 auto 50 auto;
}
.kanariya_text{
    color:#414141;
    padding-left: 20px;
    min-width:400px;
}
.kanariya_tell{
    font-size: 24px;
    color:#414141;
    line-height: 1.2em;
    padding: 5 0 0 20px;
}
.kanariya_map{
    /*margin-right:0;
    width:400px;}*/}
.order_text02{margin-bottom: 100px;}
.marie{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:50 auto 0 auto;
}
.p_marie{
    color:#414141;
    margin-top:30px;}

@media (max-width: 900px){
    .order_body{
        margin-top:100px;
        width:100vw;

    }
    .order_catch_container{
        margin-top: 25px;
    }
    .order_main_catch{
        font-size: 18px;
    }
    /*ma-jinn SP1123*/
    .order_container{
        /*display:flex;*/
    width:100vw;
    padding:20px;
    /*margin:0px 15px 50px 15px;*/
    }
    .order_main{
        display:flex;
    margin:0px 15px 50px 15px;
    }

    .order_grids{
        gap: 20px;
        margin:35 0 50 0;
        justify-items: center;
    }
    .order_article01{
        justify-items: center;
    }
    .order_article_right{width:100%;}
    .order_article_photo{width:100%;}
    .kanariya{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        padding:20 20 20 20;
        justify-content: center;
    }
    .order_article_title{font-size: 1em;}
    .order_article_link{font-size: 0.7em;}
    .kanariya_text,
    .kanariya_tell{
        text-align: center;
        margin-bottom: 15px;
    }
    .kanariya_map{
        display:flex;
        width:100%;
        justify-content: center;
    }  
 }

/*orderページ終わり************************************/

/*orderサブページ*************************************/
.order_sub_no{
    border:#B5943E solid 1px;
    padding:3px 3px 3px 3px;
    font-size: 20px;
    width: 255px;
    margin:50 auto 50 auto;
}

.order_sub_no_student{
    border:#B5943E solid 1px;
    padding:3px 3px 3px 3px;
    font-size: 20px;
    width: 430;
    margin:50 auto 50 auto;
}

/*
.slider{
    width:100vw;
    height:auto;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    /*display:flex;*/
    /*margin:50 0 0 0 ;
}*/
.order_sub_text{
    margin:30 0 0 0;
}
.order_sub_grids{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:74px;
    max-width: 1000px;
    margin:50 auto 0 auto;
    z-index:100;
}
.order_sub_text{
    display:flex;
    justify-content: center;
    max-width:1000px;
    margin:60 auto 25 auto;
}
.order_sub_text_contents{color:#414141;}
.order_article_text{line-height: 1.2em;}
.marie_catch{
    color:#B5943E;
    font-size:18px;
    margin:30 auto 0 auto;
    text-align: center;
}
.marie_catch_02{
    margin:0 auto 15 auto;
}

@media (max-width: 480px){
    .order_sub_grids{
    grid-template-columns: 1fr 1fr;
    gap:30px;
}
    .slider{
    grid-template-columns: repeat(3, 1fr);  
    }
    .order_sub_text{
        margin:-130 0 0 0;
    }
    .order_sub_no{
    font-size: 10px;
    width: 100px;
    margin:20 auto 50 auto;
}

.order_sub_no_student{
    font-size: 10px;
    width: 200;
    margin:20 auto 50 auto;
}
}
/**スライダー*/
.slider_container{
    height:420px;
}


.order_slide{
    height: 400px;
    z-index: 1;
    width:100vw;
}
.slick-dots{
	bottom: initial!important;
    margin-top:20px!important;
}
@media (max-width: 480px){
    .slick-dots{
        bottom: 10px!important;
    }
}

/*privacy policy*/
.pp01,.pp02{margin:35 0 35 0}
